*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    font-family: 'Lora', serif;
}
.carousel-inner
{
    width: 100%;
    height: 90vh;
}
.aboutImg
{
    width: 100%;
    height:350px !important;
}